extends ../layout/index

block contenido
    div
        h1.text-4xl.my-7.font-extrabold.text-center Prueba
            span.font-normal Node.js
        h2.text-center.text-2xl.font-extrabold= titulo

        if errors
            div(class="max-w-md m-auto")
                each err in errors
                    p(class="bg-red-600 p-2 text-white text-sm mt-2 uppercase font-bold")=err.msg

        div.mt-8.mx-auto.max-w-md
            div.bg-white.py-8.px-4.shadow
                form(class="space-y-3")(method="POST" action="/bienes-raices/auth/registrar" noValidate)
                    div
                        label(for="nombre").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Tu nombre
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")(
                            id="nombre" 
                            type="text"
                            name="nombre" 
                            value=usuario?usuario.nombre:''
                            placeholder="Tu nombre")
                                          
                    div
                        label(for="email").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Tu email
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")(
                            id="email"
                            type="email" 
                            name="email" 
                            value=usuario?usuario.email:''
                            placeholder="Tu email")
                        
                    div
                        label(for="password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Password
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")(id="password" type="password" name="password" placeholder="Tu password")
                        
                    div
                        label(for="repetir_password").block.text-sm.uppercase.text-gray-500.mb-2.font-bold Repetir Password
                        input(class="w-full px-3 py-2 border border-gray-300 rounded-md placeholder-gray-400")(id="repetir_password" type="password" name="repetir_password" placeholder="Repetir password")
                        
                    div(class="flex items-center justify-between")
                        a(class="text-slate-300 text-xs")(href="/bienes-raices/auth/login") ¿Ya tienes cuenta? Inicia Sesión
                        a(class="text-slate-300 text-xs")(href="/bienes-raices/auth/restaurar-password") Olvide mi password
                    input(class="bg-amber-500 hover:bg-orange-300 w-full rounded-md h-10 text-white font-bold"
                         type="submit" value="Crear Cuenta")